body
{
	border: 25px solid #009900;
	max-width: 800px;
	width: 80%;
	margin: 30px auto;
	padding: 10px;
}
.img
{
    width: 100%;
    
}
.logo
{
    margin-left: 37%;
}
h1
{
	font-family: Pacifico;
	color: #86b300;
	text-decoration: overline;
}
h2
{
	font-family: Indie Flower;
	font-size: 30px;
	color: #66cc66;
}
p
{
	font-family:Dancing Script;
	font-size: 20px;
	color: #3d5c5c;
}
h1 
{
    text-align: center;
}
h3{
    text-align: right;
}